body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2; /* light pink */
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #cc0066; /* dark pink */
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 40px);
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #cc0066; /* dark pink */
    border-radius: 10px;
    background-color: #ffe6f2; /* light pink */
    color: #cc0066; /* dark pink */
    font-size: 16px;
}

button[type="submit"] {
    padding: 15px 40px;
    background-color: #cc0066; /* dark pink */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #ad0040; /* darker pink */
}

#greetingMessage {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    color: #cc0066; /* dark pink */
}
